@import "mixins.scss";

* {
  font-family: "ProximaNova";
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
}

textarea,
input,
a,
a:focus,
a:active,
a:hover{
  text-decoration: none;
  outline: 0;
}

h2{
  margin-top: 0;
}

button{
  outline: 0;
}

.oh{
  overflow-y: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.page__wrapper{
  overflow: visible;
  overflow-x: hidden;
  position: relative;
}

a,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul, ol, p{
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-content{

  @include from-768{
    display: none;
  }
}

.desktop{

  @include for-768{
    display: none;
  }
}

.hide-do-800{

  @include for-800{
    display: none !important;
  }
}

.show-do-800{

  @include from-800{
    display: none !important;
  }


}


.hide-mobile{

  @include for-992{
    display: none!important;
  }
}

.hide-desktop{

  @media (min-width: 992px) {
    display: none!important;
  }
}

/*site style start*/
.oh{
  overflow: hidden;
}

.site-title{


  &:after{
    content: '';
  }
}

.site-container{
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.site-btn{
  max-width: 180px;
  width: 100%;
  min-height: 53px;
  position: relative;
  transition: .3s all;
  border-radius: 4px;
  margin-bottom: 10px;


  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 5px);
    border-radius: 4px;
    display: flex;
  }

  & > span{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #282828;
    position: relative;
    z-index: 2;
    padding: 0 10px;
    border-radius: 4px;
    transition: .3s all;

    &:after{
      content: '';
      height: 0;
      width: 100%;
      border-radius: 4px;
      left: 0;
      top: 0;
      position: absolute;
      transition: .2s all;
    }

    & > span{
      position: relative;
      z-index: 3;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      color: #282828;
    }
  }

  &:hover{

    & > span{

      &:after{
        height: 100%;
      }
    }

  }

  &--w{


    & > span {
      background: white;
    }

    &:before{
      background: #dfedfa;
    }

    &:hover{

      & > span:after{
        background: #eff8ff;
      }
    }
  }

  &--g{


    & > span {
      background: linear-gradient(0deg, rgb(255, 174, 0) 0%, rgb(255, 220, 76) 100%);
    }

    &:before{
      background: #bb8000;
    }

    &:hover{

      & > span:after{
        background: #ffe27a;
        height: 50%;
      }
    }
  }
}

.page__content{
  min-height: calc(100vh - 222px);
}

/*site styles end*/

.mobile-back{
  display: none;

  @include for-992{
    display: block;
  }
}

.mobile{
  display: none;

  @include for-992{
    display: initial;
  }
}

/*text styles*/
p{
  margin: 30px 0;
  line-height: 22px;
  color: #282828;
  font-size: 16px;

  a{
    color: #5bbcc1;
    transition: .1s all;

    &:hover{
      color: #ffb208;
      text-decoration: underline;
    }
  }
}

h1{
  color: #1272af;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2{
  color: #1272af;
  font-size: 25px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 30px;
  letter-spacing: 1px;

  display: flex;
  align-items: center;

  img{
    margin-right: 15px;
  }
}

h3{
  font-size: 16px;
  color: #1272af;
  font-weight: 700;
}

ul {
  margin: 30px 0;

  li {
    position: relative;
    color: #282828;
    padding-left: 30px;
    margin-bottom: 13px;

    @include for-768{
      padding-left: 0;
    }


    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 14px;
      height: 10px;
      background: url("../img/ico/check.svg") center/contain no-repeat;

      @include for-768{
        position: relative;
        display: block;
        float: left;
        margin-right: 15px;
      }
    }
  }
}

ol {
  margin: 30px 0;

  li {
    position: relative;
    color: #282828;
    padding-left: 30px;
    margin-bottom: 13px;

    @include for-768{
      padding-left: 0;
    }


    counter-increment: step-counter;

    &:before {
      content: counter(step-counter);
      position: absolute;
      width: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 1px;
      top: 0;
      color: #ffba13;
      font-weight: 700;

      @include for-768{
        position: relative;
        display: block;
        float: left;
        margin-right: 18px;
      }

    }
  }
}


.gamepage{
  p{
    margin: 15px 0;
  }
  h2{
    margin: 15px 0;
  }
  ul, ol{
    margin: 15px 0;
  }
  h3{
    margin: 15px 0;
  }

}


/*text styles end*/

.header{
  background-color: #62bac1;
  background-size: auto 80px;
  background-repeat: no-repeat;
  background-position: 90% center;
  position: relative;

  @include for-992{
    background-image: none !important;
  }

  &:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #e1effc;
  }


  &__inner{
    display: flex;
    align-items: center;
    height: 80px;
  }

  &__logo{

    @include for-992{
      position: relative;
      z-index: 50;
    }
  }

  &__logo-link{

  }

  &__logo-img{
    margin-right: 50px;
  }

  &__nav{

    @include for-992{
      position: fixed;
      left: -100%;
      top: 0;
      width: 100%;
      max-width: 250px;
      height: 100%;
      background: #62bac1;
      z-index: 20;
      transition: .3s all;

      &.open{
        left: 0;
      }

    }

  }

  &__nav-list{
    display: flex;

    @include for-992{
      flex-direction: column;
      //padding-top: 100px;
      padding-bottom: 20px;
      margin-top: 76px;
      padding-top: 20px;
      border-top: 4px solid #e1effc;
    }
  }

  &__nav-item{

  }

  &__nav-link{
    font-size: 16px;
    color: white;
    line-height: 80px;
    transition: .3s all;
    display: flex;
    padding: 0 25px;

    &:hover{
      background-color: #2aa4a4;
    }

    @include for-992{
      line-height: 40px;
    }
  }

  &__sotial{
    margin-left: auto;

    @include for-992{
      margin: 0;
    }
  }

  &__sotial-list{
    display: flex;
  }

  &__sotial-link{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #2aa2a2;
    margin-left: 7px;
    background-color: #2aa2a2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all;

    img{
      transition: .3s all;
    }

    &:hover{
      background-color: #62bac1;

      img{
        transform: scale(1.1);
      }
    }

    &:first-child{
      margin-left: 0;
    }

    &--facebook{

    }

    &--youtube{

    }

    &--telegram{

    }
  }

  &__mobile-menu{
    margin-left: auto;
  }

  &__mobile-menu-i{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #2aa2a2;
    background-color: #2aa2a2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all;

    &.show{
      background-color: #62bac1;
    }
  }


}

.breadcrumbs{

  &__inner{
    padding-top: 40px;
    padding-bottom: 30px;

    @include for-992{
      padding-top: 25px;
      padding-bottom: 15px;
    }
  }

  &__link{
    line-height: 22px;
    color: #282828;
    position: relative;
    transition: .3s all;

    &:after{
      content: '/';
      margin: 0 5px;
    }

    &:hover{
      color: #6bb7c0;
    }

    &:last-child{
      cursor: default;

      &:hover{
        color: inherit;
      }

      &:after{
        display: none;
      }
    }
  }

}

.bonuses{
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  @include for-768{
    background-image: none !important;
  }

  &__inner{
    //padding-bottom: 25px;
  }

  &__block-title{


    @include for-576{
      text-align: center;
      margin-top: 0;
      margin-bottom: 18px;
    }
  }

  &__title{
    color: #282828;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__list{
    display: flex;
    flex-direction: column;

    @include for-576 {
      padding-top: 5px;
    }
  }

  &__item{
    display: flex;
    position: relative;
    background-color: #eff8ff;
    margin-bottom: 20px;

    @include for-800{
      flex-direction: column;
    }

    &:before{
      content: '';
      width: 100%;
      height: 100%;
      background-color: #e1effc;
      position: absolute;
      top: 4px;
      left: 0;
      border-radius: 4px;
      z-index: -1;
    }
  }

  &__numb{
    position: absolute;
    left: 10px;
    top: -6px;

    img{

    }

    span{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 7px;
      color: white;
      font-weight: 700;
      font-size: 18px;
    }
  }

  &__name{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;

    @include for-800{
      width: 100%;
    }
  }

  &__name-img{
    margin-top: 85px;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
    display: flex;

    @include for-800{
      margin-top: 47px;
      margin-bottom: 8px;
    }

    img{

      @include for-992{
        width: 100%;
        height: auto;
      }
    }
  }

  &__name-txt{
    color: #282828;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;

    @include for-800{
      margin-bottom: -8px;
    }
  }

  &__table{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;


    @include for-800{
      width: 100%;
      padding: 20px 10px 10px;
    }
  }

  &__row{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    min-height: 35px;
    align-items: center;
    border-radius: 4px;
    background-color: #fefefe;
    margin-bottom: 5px;
    position: relative;

    &:before{
      content: '';
      width: 100%;
      height: 100%;
      background-color: #e0eefb;
      position: absolute;
      top: 4px;
      left: 0;
      border-radius: 4px;
    }

    &:after{
      content: '';
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 13px;
      height: 10px;
      background: url("../img/ico/check.svg") center/contain no-repeat;
      display: flex;
      z-index: 2;
    }

    @include for-992{
      flex-direction: column;
      height: auto;
      justify-content: flex-start;
      margin-bottom: 11px;
    }
  }

  &__col{
    width: 50%;
    height: 100%;
    padding: 0 15px;
    z-index: 2;
    position: relative;
    background-color: #fefefe;
    display: flex;
    align-items: center;
  }

  &__col-name{
    width: 45%;
    padding-left: 40px;
    font-weight: 700;
    color: #282828;

    @include for-992{
      width: 100%;
      //padding-top: 3px;
            padding-top: 5px;
            padding-bottom: 2px;
    }
  }

  &__col-description{
    width: 55%;
    position: relative;
    font-weight: 700;
    color: #1272af;

    @include for-992{
      width: 100%;
      padding-left: 40px;
      //padding-bottom: 3px;
        padding-top: 2px;
        padding-bottom: 5px;
    }


    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #e9e9ea;
      width: 2px;
      height: calc(100% - 5px);

      @include for-992{
        display: none;
      }
    }
  }

  &__btn{
    width: 25%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px 25px 25px;
    align-items: center;
    background-color: #61bac1;
    background-position: center;
    background-size: 83%;
    background-repeat: no-repeat;

    @include for-800{
      width: 100%;
      background-image: none !important;
      padding: 15px 15px 0;
      border-radius: 4px;
    }
  }

  &__btn-inner{
    width: 100%;
  }

  &__btn-item{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  &__btn-link{

    @include for-576{
      max-width: 100%;
    }
  }

  &__raiting{
    position: absolute;
    //right: 65px;
    right: calc(25% / 2);
    transform: translateX(50%);
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 40px;
    background-image: linear-gradient( 45deg, rgb(16,110,170) 0%, rgb(51,166,235) 100%);
    border-radius: 0 0 4px 4px;
    padding: 0 15px;

    &:before{
      content: '';
      border: 5px solid transparent; border-right: 5px solid #0f0f59; border-bottom: 5px solid #0f0f59;
      position: absolute;
      left: -10px;
      top: 0;
    }

    &:after{
      content: '';
      border: 5px solid transparent; border-bottom: 5px solid #0f0f59; border-left: 5px solid #0f0f59;
      position: absolute;
      right: -10px;
      top: 0;
    }


    &--revers{
      right: auto;
      left: calc(25% / 2);
      transform: translateX(-50%);
    }

    @include for-800{
      transform: translateX(-50%) scale(0.7) translateY(-2px);
      right: auto;
      left: 50%;
    }
  }

  &__raiting-ico{

  }

  &__raiting-txt{
    font-size: 20px;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
  }

  &__bunner{
    width: 25%;
    background-color: #61bac1;
    display: flex;
    flex-direction: column;

    @include for-800{
      width: 100%;
    }

    &.show-do-800{
      border-radius: 4px;
      overflow: hidden;
    }
  }

  &__bunner-top{

  }

  &__bunner-top-txt{
    font-weight: 700;
    font-size: 22px;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 15px;

    @include for-576{
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  &__bunner-img{
    display: flex;
    width: 100%;
    height: 100%;

    picture{
      width: 100%;
    }
  }

  &__bunner-img-i{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__name-btn{
    width: 100%;
    display: flex;
    justify-content: center;

    &.show-800{
      padding: 0 10px;
      margin-bottom: 5px;
    }

  }


  &--game &__name-img {
    margin-top: 60px;
    margin-bottom: 17px;
  }

  .stars{
    margin: 0 10px;
    display: flex;
    align-items: center;

    @include for-576{
      margin: 0;
    }
  }

  .stars-i{
    margin: 0 2px;
  }

  .vote{
    color: #282828;
    display: flex;
    align-items: center;
  }

  p{
    color: #282828;
  }


}
.homepage .bonuses{

  &__item {

    &:last-child{
      @include for-992{
        margin-bottom: 25px;
      }
    }

    &:before {
      @include for-800 {
        display: none;
      }
    }
  }
}

.txt-block{
  background-repeat: no-repeat;
  background-position: center 90%;

  @include for-768{
    background-image: none !important;
  }

  &--bg-blue{
    background-color: #eff8ff;
  }

  &__inner{
    padding-top: 15px;
    padding-bottom: 15px;

    & > img,
    & > picture > img{

      @include for-992{
        width: 100%;
      }
    }
  }

}
.homepage .txt-block{
  &__inner{
   @include for-992{
     padding-top: 10px;

     p{
       margin: 15px 0;

       &:first-child{
         margin-top: 10px;
       }
     }
   }
  }
}

.features{
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;

  @include for-768{
    background-image: none !important;
  }

  &__inner{

  }

  &__table{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
  }

  &__row{
    display: flex;

    @include for-992{
      flex-direction: column;
    }

    &:last-child{

      .features__name, .features__description{
        border-bottom: 0;
      }
    }
  }

  &__name{
    max-width: 255px;
    width: 100%;
    flex: 0 0 255px;
    background-color: #e1effc;
    border-bottom: 3px solid white;
    min-height: 40px;
    padding: 0 10px 0 20px;
    display: flex;
    align-items: center;

    color: #282828;
    font-weight: 700;

    @include for-992{
      max-width: 100%;
      flex: auto;
      padding: 3px 15px;
      min-height: 50px;
    }
  }

  &__ico{
    margin-right: 15px;
  }

  &__description{
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 3px solid #e1effc;
    padding: 0 15px 0 35px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #1272af;
    min-height: 40px;
    flex-wrap: wrap;

    @include for-992{
      padding: 3px 15px;
      min-height: 50px;
      letter-spacing: 1.28px;
      line-height: 24px;
    }

    img{
      margin-right: 8px;
      display: flex;
      margin-bottom: 2px;

      @include for-992{
        margin-right: 4px;
      }
    }

    a{
      font-weight: 700;
      color: #1272af;
      min-height: 40px;
      display: flex;
      align-items: center;
      transition: .1s all;

      &:hover{
        color: #ffb208;
        text-decoration: underline;
      }
    }
  }

  &__name{

  }


}

.horisontal-block{

  &__inner{
    padding-top: 10px;
    padding-bottom: 50px;


    @include for-576{
      padding-bottom: 35px;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #46c4c3;
    position: relative;
    padding: 40px 15px;

    @include for-800{
      overflow: hidden;
    }

    @include for-576{
      padding-top: 25px;
      padding-bottom: 25px;

    }

    &:before{
      content: '';
      width: 100%;
      height: 100%;
      background-color: #e1effc;
      position: absolute;
      top: 4px;
      left: 0;
      border-radius: 4px;
      z-index: -1;
    }
  }

  &__coin{
    position: absolute;
    width: 79px;
    top: 5%;

    @include for-800{
      opacity: .3;
    }

    &--left{
      left: 5%;

      @include for-800{
        left: -5%;
      }
    }

    &--right{
      right: 5%;
      transform: scale(-1, 1);


      @include for-800{
        right: -5%;
      }
    }

  }

  &__title{
    font-weight: 700;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  &__caption{
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  &__btn{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  &__btn-link{

  }

}

.footer{
  background-color: #5bbcc1;

  @include for-992{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__top{

  }

  &__top-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-992{
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo-link{
    margin-right: 50px;

    @include for-992{
      margin: 0;
      margin-bottom: 15px;
    }
  }

  &__logo-img{

  }

  &__top-list{
    display: flex;
    margin: 0 -15px;

    @include for-992{
      flex-direction: column;
      margin: 10px 0 25px;
    }
  }

  &__top-link{
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: white;
    line-height: 80px;
    transition: .3s all;

    @include for-992{
      line-height: 25px;
      text-align: center;
      justify-content: center;
      margin-bottom: 7px;
      letter-spacing: .8px;
      margin-top: 4px;
    }

    &:hover{
      background-color: #2aa4a4;
    }
  }

  &__bottom{
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 95% 100%;
    position: relative;

    @include for-992{
      background-image: none !important;
    }

    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 4px;
      background-color: #e1effc;

      @include for-992{
        display: none;
      }
    }
  }

  &__bottom-inner{
    display: flex;
    justify-content: space-between;
    height: 62px;
    align-items: center;

    @include for-992{
      flex-direction: column-reverse;
      height: auto;
    }
  }

  &__copyright{
    font-size: 14px;
    color: white;
    line-height: 45px;
    letter-spacing: 0.8px;

    @include for-992{
      text-align: center;
      line-height: 22px;
    }
  }

  &__bottom-list{
    margin: 0 -6px;
    display: flex;

    @include for-992{
      margin: 0;
      margin-bottom: 10px;
    }
  }

  &__bottom-link{
    padding: 0 6px;

    img{
      height: 27px;

      @include for-768{
        height: 18px;
      }
    }

    @include for-992{
      padding: 0 4px;
    }
  }

}

.site-btn-top{
  width: 60px;
  height: 60px;
  background: linear-gradient(90deg, rgba(16,110,170,1) 0%, rgba(51,166,235,1) 100%);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 10%;
  right: 10%;
  transition: .3s all;
  z-index: -1;
  opacity: 0;
  visibility: hidden;

  @include for-992{
    bottom: 5%;
    right: 5%;
    width: 40px;
    height: 40px;
  }


  &.show{
    display: flex;
    z-index: 10;
    opacity: 1;
    visibility: visible;
  }

  &:hover{

    img{

      transform: scale(0.9) rotate(180deg) translateY(2px);

    }
  }


  img{
    transform: rotate(180deg);
    transition: .2s all;

    @include for-992{
      width: 30px;
      height: 30px;
    }
  }
}

.platform-ico{

  @include for-576{
    height: 13px;
  }
}